body {
    background-color: #FFF2E1;
    font-family: "Inter", sans-serif;
    margin: 0;
}

.tab-bar {
    background-color: #803D3B;
    display: flex;
}

.title {
    color: #FFFFFF;
    padding: 10px 2px;
    font-weight: bold;
}

.login-container {
    width: 250px;
    padding: 10px 20px 20px;
    background-color: #EAD8C0;
    border-radius: 20px;
    box-shadow: 0px 0px 6px #A79D91;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-form input[type="text"],
    .login-form input[type="password"],
    .login-form button {
      width: 100%;
      margin-bottom: 10px;
      padding: 8px;
      border: 1px solid #ccc;
      box-sizing: border-box;
}

.login-form input[type="text"],
    .login-form input[type="password"] {
        background-color: #FFF2E1;
}


.login-form button, .big-button {
      background-color: #D9D9D9;
      color: #561C24;
      font-weight: bold;
      cursor: pointer;
      border-radius: 27.5px;
      border-color: black;
      margin-top: 10px;
      text-decoration: none;
}

.login-form button {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

h2, h6, h5 {
    color: #561C24;
}

h6 {
    margin-top: -13px;
}

h5 {
    text-align: center;
    margin-top: -3px;
    margin-bottom: -3px;
}

::placeholder {
    color: #AC7980;
    font-weight: bold;
}

.small-button {
    font-size: 10px;
    color: #2F6FCF;
    font-weight: bold;
    text-decoration: none;
}

.a-container {
    text-align: center;
}

.a-container:hover {
    text-decoration: underline;
    text-decoration-color: #2F6FCF;
}

.tab img {
    width: 20px;
    padding: 10px 20px;
    margin-top: 2px;
}