body {
    background-color: #FFF2E1;
    font-family: "Inter", sans-serif;
    margin: 0;
    overflow-x: hidden; /* Hide horizontal overflow */
}

.red-bar {
    background-color: #803D3B;
    display: flex;
    z-index: 1000;
}

.title {
    color: #FFFFFF;
    padding: 10px 2px;
    font-weight: bold;
    z-index: 1001;
}

.login-container {
    width: 250px;
    padding: 10px 20px 20px;
    background-color: #EAD8C0;
    border-radius: 20px;
    box-shadow: 0px 0px 6px #A79D91;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-form input[type="text"],
    .login-form input[type="password"],
    .login-form button {
      width: 100%;
      margin-bottom: 10px;
      padding: 8px;
      border: 1px solid #ccc;
      box-sizing: border-box;
}

.login-form input[type="text"],
    .login-form input[type="password"] {
        background-color: #FFF2E1;
}


.login-form button, .big-button {
      background-color: #D9D9D9;
      color: #561C24;
      font-weight: bold;
      cursor: pointer;
      border-radius: 27.5px;
      border-color: black;
      margin-top: 10px;
      text-decoration: none;
}

.login-form button {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

h2, h6, h5 {
    color: #561C24;
}

h6 {
    margin-top: -13px;
}

h5 {
    text-align: center;
    margin-top: -3px;
    margin-bottom: -3px;
}

::placeholder {
    color: #AC7980;
    font-weight: bold;
}

.small-button {
    font-size: 10px;
    color: #2F6FCF;
    font-weight: bold;
}

.a-container {
    text-align: center;
}

.a-container:hover {
    text-decoration: underline;
    text-decoration-color: #2F6FCF;
}

.menu img {
    width: 20px;
    padding: 10px 20px;
    margin-top: 2px;
    cursor: pointer;
    z-index: 1001;
}

.tab-bar {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: -400px; /* Hide the tab bar by default */
    top: 40px;
    bottom: 0;
    width: 250px;
    background-color: #3B3B3B;
    padding: 20px;
    transition: left 0.3s ease;
}

.tab-name {
    padding: 10px 1px;
    transition: background-color 1.0s ease;
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

.tab-name:hover {
    background-color: #282828;
    display: block;
    box-sizing: border-box;
}   

.icons {
    width: 17px;
    height: 17px;
    margin-right: 15px;
    margin-top: 7px;
}

.category {
    color:white;
    font-size: 12px;
    padding-top: 20px;
}

/* Style the content area */
.content, .header {
    padding: 20px 100px;
    color: #464545;
    z-index: 1000;
}

/* Responsive styles */
@media (max-width: 768px) {
    .tab-bar {
        width: 250px;
    }
    .content {
        margin-left: 100px;
    }
}

a {
    text-decoration: none;
}

.header {
    background-color: #FFF8EF;
    display: flex;
    margin: 0;
}

.image-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    position: relative;
}

.subtags {
    display: none; /* Initially hidden */
    margin-left: 20px; /* Adjust spacing */
    color: white;

}

  /* Show subtags when their parent tab is expanded */
  .tab.expanded .subtags {
    display: flex;
    flex-direction: column;
  }

